<!DOCTYPE html>
<html>
  <head>
    <title>InitialTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <!--Yield gives access to the entirety of other views and controllers. They will be served here-->

  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

  </body>
</html>
